####################
# crafting
####################
crafting {
    B:"Armor Plating"=true
    B:"Potato Jetpack"=true

    # When enabled, most jetpacks are not directly craftable, but only by upgrading previous tiers.
    B:"Upgrading Recipes Only"=false
}

####################
# gui
####################
gui {
    B:"Enable energy HUD"=true
    B:"Hide Tuberous Jetpack warning"=false
    B:"Hold Shift for details"=true
    B:"Show exact amount of RF in energy HUD"=false
}

####################
# item
####################
item {
    I:components=18005
    I:jetpackArmoredTier1=18007
    I:jetpackArmoredTier2=31743
    I:jetpackArmoredTier3=18009
    I:jetpackArmoredTier4=18010
    I:jetpackCreative=18011
    I:jetpackTier0=18000
    I:jetpackTier1=18001
    I:jetpackTier2=18002
    I:jetpackTier3=18003
    I:jetpackTier4=18004
    I:particleCustomizers=18012
}

####################
# itemconfig
####################
itemconfig {
    B:"Enable jetpack particles"=true
    B:"Invert Hover Mode sneaking behavior"=false

    # Disabled by default because some mods like Morph cause problems with it, only enable if you know what you're doing
    B:"Mobs can use jetpacks when equipped"=false
}