# Remove harvestcraft salt from oreSalt oredict tag.
oreDict.oreSalt.remove(<15742>);

# Add Ex Nihilo barrels to oredict tag compostBarrel.
oreDict.compostBarrel.add(<3760:0>);
oreDict.compostBarrel.add(<3760:1>);
oreDict.compostBarrel.add(<3760:2>);
oreDict.compostBarrel.add(<3760:3>);

# Add sieves to oredict tag sieve.
oreDict.sieve.add(<3746:0>);
oreDict.sieve.add(<3746:1>);
oreDict.sieve.add(<3746:2>);
oreDict.sieve.add(<3746:3>);

# Add part builders to oredict tag partBuilder.
oreDict.partBuilder.add(<1471:1>);
oreDict.partBuilder.add(<1471:2>);
oreDict.partBuilder.add(<1471:3>);
oreDict.partBuilder.add(<1471:4>);

# Add stencil tables to oredict tag stencilTable.
oreDict.stencilTable.add(<1471:10>);
oreDict.stencilTable.add(<1471:11>);
oreDict.stencilTable.add(<1471:12>);
oreDict.stencilTable.add(<1471:13>);

# Add forestry/EB fruits to listAllfruit.
oreDict.listAllfruit.add(<13386:0>);
oreDict.listAllfruit.add(<13386:3>);
oreDict.listAllfruit.add(<13386:4>);
oreDict.listAllfruit.add(<13386:5>);
oreDict.listAllfruit.add(<13386:6>);
oreDict.listAllfruit.add(<14258:0>);
oreDict.listAllfruit.add(<14258:1>);
oreDict.listAllfruit.add(<14258:2>);
oreDict.listAllfruit.add(<14258:3>);
oreDict.listAllfruit.add(<14258:4>);
oreDict.listAllfruit.add(<14258:5>);
oreDict.listAllfruit.add(<14258:6>);
oreDict.listAllfruit.add(<14258:7>);
oreDict.listAllfruit.add(<14258:8>);
oreDict.listAllfruit.add(<14258:10>);
oreDict.listAllfruit.add(<14258:11>);
oreDict.listAllfruit.add(<14258:12>);
oreDict.listAllfruit.add(<14258:13>);
oreDict.listAllfruit.add(<14258:14>);
oreDict.listAllfruit.add(<14258:15>);
oreDict.listAllfruit.add(<14258:16>);
oreDict.listAllfruit.add(<14258:17>);
oreDict.listAllfruit.add(<14258:18>);
oreDict.listAllfruit.add(<14258:19>);
oreDict.listAllfruit.add(<14258:20>);
oreDict.listAllfruit.add(<14258:21>);
oreDict.listAllfruit.add(<14258:22>);
oreDict.listAllfruit.add(<14258:23>);
oreDict.listAllfruit.add(<14258:28>);
oreDict.listAllfruit.add(<14258:29>);
oreDict.listAllfruit.add(<14258:30>);
oreDict.listAllfruit.add(<14258:32>);
oreDict.listAllfruit.add(<14258:34>);
oreDict.listAllfruit.add(<14258:38>);
oreDict.listAllfruit.add(<14258:40>);
oreDict.listAllfruit.add(<14258:41>);
oreDict.listAllfruit.add(<14258:42>);
oreDict.listAllfruit.add(<14258:43>);
oreDict.listAllfruit.add(<14258:44>);
oreDict.listAllfruit.add(<14258:45>);
oreDict.listAllfruit.add(<14258:46>);
oreDict.listAllfruit.add(<14258:48>);
oreDict.listAllfruit.add(<14258:49>);
oreDict.listAllfruit.add(<14258:57>);
oreDict.listAllfruit.add(<14258:58>);

# Add natura berries to listAllfruit.
oreDict.listAllfruit.add(<12657:0>);
oreDict.listAllfruit.add(<12657:1>);
oreDict.listAllfruit.add(<12657:2>);
oreDict.listAllfruit.add(<12657:3>);
oreDict.listAllfruit.add(<12658:0>);
oreDict.listAllfruit.add(<12658:1>);
oreDict.listAllfruit.add(<12658:2>);
oreDict.listAllfruit.add(<12658:3>);

# Add forestry/EB nuts to listAllnut.
oreDict.listAllnut.add(<13386:1>);
oreDict.listAllnut.add(<13386:2>);
oreDict.listAllnut.add(<14258:9>);
oreDict.listAllnut.add(<14258:24>);
oreDict.listAllnut.add(<14258:25>);
oreDict.listAllnut.add(<14258:26>);
oreDict.listAllnut.add(<14258:27>);
oreDict.listAllnut.add(<14258:31>);
oreDict.listAllnut.add(<14258:33>);
oreDict.listAllnut.add(<14258:36>);
oreDict.listAllnut.add(<14258:51>);
oreDict.listAllnut.add(<14258:53>);
oreDict.listAllnut.add(<14258:59>);

# Add forestry/EB spices to listAllspice.
oreDict.listAllspice.add(<14258:39>);
oreDict.listAllspice.add(<14258:47>);
oreDict.listAllspice.add(<14258:53>);
oreDict.listAllspice.add(<14258:54>);
oreDict.listAllspice.add(<14258:56>);

# Add unlabeled EB crops to appropriate oreDict tags.
oreDict.cropBannana.add(<14258:30>);
oreDict.cropBlackberry.add(<14258:43>);
oreDict.cropRaspberry.add(<14258:44>);
oreDict.cropBlueberry.add(<14258:45>);
oreDict.cropCranberry.add(<14258:46>);
oreDict.cropRaspberry.add(<14258:49>);
oreDict.cropCoconut.add(<14258:50>);
oreDict.cropAvocado.add(<14258:52>);
oreDict.cropNutmeg.add(<14258:53>);
oreDict.cropChilipepper.add(<14258:55>);
oreDict.listAllpepper.add(<14258:55>);
oreDict.cropMango.add(<14258:57>);
oreDict.cropStarfruit.add(<14258:58>);
oreDict.cropCandle.add(<14258:59>);

# Add all seeds to ore dict
oreDict.listAllseed.add(<9123>);
oreDict.listAllseed.add(<9165>);
oreDict.listAllseed.add(<9166>);
oreDict.listAllseed.add(<9167>);
oreDict.listAllseed.add(<9168>);
oreDict.listAllseed.add(<9170>);
oreDict.listAllseed.add(<9171>);
oreDict.listAllseed.add(<9172>);
oreDict.listAllseed.add(<9173>);

# Add porcelain clay to ore dict for MFR compatibility.
oreDict.dyeCeramicWhite.add(<9122>);

# Make Natura suguaro fruit usable as cactus fruit.
oreDict.cropCactusfruit.add(<12674>);

# Make all types of flour usable in crafting recipes.
oreDict.foodFlour.add(<4362:12>);
oreDict.foodFlour.add(<12660:1>);
oreDict.foodFlour.add(<12660:2>);

# Make all types of milk usable in crafting recipes.
oreDict.listAllmilk.add(<12270>);
oreDict.listAllmilk.add(<15451>);

# Make all types of water usable in crafting recipes.
oreDict.listAllwater.add(<25968>);
oreDict.listAllwater.add(<5276>);
oreDict.listAllwater.add(<13294>);
oreDict.listAllwater.add(<13331>);

# Make melon a fruit.
oreDict.listAllfruit.add(<360>);

# Add meat ingots to proper meat tags.
oreDict.listAllmeatraw.add(<12281>);
oreDict.listAllmeatcooked.add(<12282>);

# Add lettuce variants to an ore dictionary tag.
oreDict.listAlllettuce.add(<15380>);
oreDict.listAlllettuce.add(<15385>);
oreDict.listAlllettuce.add(<15592>);
oreDict.listAlllettuce.add(<15749>);

# Remove that random natura helmet from oreDict
oreDict.stickWood.remove(<12677:13>);