####################
# arsmagica tweaks
####################
"arsmagica tweaks" {
    B:"Can desert novas be obtained"=true
    B:"Can moonstone be obtained"=false
}

####################
# ex aliquo multi-mod tweaks
####################
"ex aliquo multi-mod tweaks" {
    # False for counting as an ingot
    B:"Are Gravel/Sand/Dust Ores actually ores"=true
    B:"Hide Feesh from hammers"=true

    # Requires ninja-like feesh to do anything
    B:"Whenk :V"=true
}

####################
# ex aliquo things
####################
"ex aliquo things" {
    I:"Aluminum Hammer ID"=20169
    I:"Copper Hammer ID"=20170
    I:"Dragon Egg"=22594
    I:EnderBlock=2298
    I:EnderCake=2299
    I:"Golden Crook"=20163
    I:"Hay Crook"=20164
    I:"Invar Hammer ID"=20161
    I:"Lead Hammer ID"=20165
    I:"Nickel Hammer ID"=20167
    I:"Platinum Hammer ID"=20166
    I:"Reed Crook"=20162
    I:"Silver Hammer ID"=20172
    I:"Thaumium Hammer ID"=20160
    I:"Tin Hammer ID"=20171
}

####################
# mariculture tweaks
####################
"mariculture tweaks" {
    B:"Can Oysters be obtained via fishing"=true
    B:"Override end-only fishables"=true
}

####################
# metallurgy block ids
####################
"metallurgy block ids" {
    I:"AdamantineOre Block"=2302
    I:"AlduoriteOre Block"=2303
    I:"AstralSilverOre Block"=2304
    I:"AtlarusOre Block"=2305
    I:"CarmotOre Block"=2306
    I:"CeruclaseOre Block"=2307
    I:"DeepIronOre Block"=2308
    I:"EximiteOre Block"=2309
    I:"IgnatiusOre Block"=2310
    I:"InfucoliumOre Block"=2311
    I:"KalendriteOre Block"=2312
    I:"LemuriteOre Block"=2313
    I:"ManganeseOre Block"=2314
    I:"MeuroiteOre Block"=2315
    I:"MidasiumOre Block"=2316
    I:"MithrilOre Block"=2317
    I:"OrichalcumOre Block"=2318
    I:"OureclaseOre Block"=2319
    I:"PromethiumOre Block"=2320
    I:"RubraciumOre Block"=2321
    I:"SanguiniteOre Block"=2322
    I:"ShadowIronOre Block"=2323
    I:"VulcaniteOre Block"=2324
    I:"VyroxeresOre Block"=2325
    I:"ZincOre Block"=2326
}

####################
# metallurgy item ids
####################
"metallurgy item ids" {
    I:"AdamantineOre Item"=20502
    I:"AlduoriteOre Item"=20503
    I:"AstralSilverOre Item"=20504
    I:"AtlarusOre Item"=20505
    I:"CarmotOre Item"=20506
    I:"CeruclaseOre Item"=20507
    I:"DeepIronOre Item"=20508
    I:"EximiteOre Item"=20509
    I:"IgnatiusOre Item"=20510
    I:"InfuscoliumOre Item"=20511
    I:"KalendriteOre Item"=20512
    I:"LemuriteOre Item"=20513
    I:"ManganeseOre Item"=20514
    I:"MeuroiteOre Item"=20515
    I:"MidasiumOre Item"=20516
    I:"MithrilOre Item"=20517
    I:"OrichalcumOre Item"=20518
    I:"OureclaseOre Item"=20519
    I:"PrometheumOre Item"=20520
    I:"RubraciumOre Item"=20521
    I:"SanguiniteOre Item"=20522
    I:"ShadowIronOre Item"=20523
    I:"VulcaniteOre Item"=20524
    I:"VyroxeresOre Item"=20525
    I:"ZincOre Item"=20526
}

####################
# minefactory reloaded tweaks
####################
"minefactory reloaded tweaks" {
    B:"Can Sacred Rubber Trees be obtained"=false
}

####################
# natura tweaks
####################
"natura tweaks" {
    B:"Can berry bushes be obtained"=true
    B:"Can hopseed trees be obtained"=false
    B:"Can natura trees be obtained"=true
    B:"Can nether bushes be obtained"=true
    B:"Can nether trees be obtained"=true

    # Redwoods eat every block going both up and down. Use at your own peril. Or enjoyment
    B:"Can redwood trees be obtained"=false
}

####################
# tcon block ids
####################
"tcon block ids" {
    I:"ArditeOre Block"=2995
    I:"CobaltOre Block"=2996
}


####################
# tcon item ids
####################
"tcon item ids" {
    I:"ArditeOre Item"=20189
    I:"CobaltOre Item"=20190
}

####################
# tcon tweaks
####################
"tcon tweaks" {
    B:"Can Gravel/Sand/Dust items be smelted"=true
    B:"Can essense bushes be obtained"=true
    B:"Can oreberry bushes be composted"=false
    B:"Can orebushes be obtained"=true
    B:"Enable mini-smelteries"=false
    B:"Fortune-Crooking Interaction"=false
    B:"Fortune-Hammering Interaction"=false

    # 0 is default (tool restrictions), 1 is dual-use tools unrestricted, 2 is fully unlock
    I:"Modifier lock"=0

    # Normal is 1/4 the block value. False means dusts are 1/6 the value
    B:"Normal dust value in the smeltery"=true
}

####################
# thaumcraft tweaks
####################
"thaumcraft tweaks" {
    # False to instead change how greatwoods are obtained
    B:"Alternate Runics to prevent wall"=true
    B:"Do the primal aspect wand cores require a Greatwood wand core"=false
    B:"For tundra-less skyblocks"=false

    # Set 0 for default, 1 for tweaked difficulty, and -1 to disable. See the forum post for difficulty changes
    I:"Silverwood Setting"=0
}